.chat_box {
	flex: 1;
	background-color: #F1F1F1;
}

.chat_input_box {
	/* position: fixed;
	left: 0; */
	width: 750rpx;
	background-color: #F8F8F8;
}

.chat_input {
	flex-direction: row;
	align-items: center;
	height: 108rpx;
}

.textarea_input {
	flex: 1;
	height: 82rpx;
	line-height: 45rpx;
	padding-left: 18rpx;
	padding-right: 18rpx;
	background-color: #FFFFFF;
	border-radius: 6rpx;
}

.voice_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 30rpx;
	margin-right: 18rpx;
}

.emoj_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 18rpx;
	margin-right: 13rpx;
}
.add_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 15rpx;
	margin-right: 30rpx;
}
.btn_box {
	width: 112rpx;
	height: 60rpx;
	align-items: center;
	justify-content: center;
border-radius: 6rpx;
	background-color: #9FA4EE;
	margin-right: 18rpx;
}
.btn_text {
	font-size: 28rpx;
	color: #FFFFFF;
}
.fun_swiper {
	flex: 1;
	background-color: #F8F8F8;
}
.swiper_item{
	flex: 1;
}
.conter_box{
	flex: 1;
	flex-direction: row;
}
.voice_box {
	flex: 1;
	height: 82rpx;
	background-color: #FFFFFF;
	border-radius: 6rpx;
	align-items: center;
	justify-content: center;
}
.voice_text {
	font-size: 32rpx;
	font-weight: 400;
	color: #161616;
}
/* 语音ui */
.voice_bd {
	position: fixed;
	align-items: center;
	bottom:400rpx;
	width: 750rpx;
	height: 400rpx;
}
.voice_ui {
	width: 300rpx;
	height: 400rpx;
	border-radius: 8rpx;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
}
.voice_ui_img {
	width: 170rpx;
	height: 280rpx;
	margin-bottom: 20rpx;
}
.voice_ui_text {
	color: #FFFFFF;
	font-size: 30rpx;
}
.audio_box {
	width: 200rpx;
	height: 300rpx;
}